<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.order.query.mapper.OrderMapper">

    <!-- resultMaps-->
    <resultMap id="baseOrderList" type="com.varc.brewnetapp.domain.order.query.dto.HQOrderDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="comment" column="COMMENT"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="active" column="ACTIVE"/>
        <result property="approvalStatus" column="APPROVAL_STATUS"/>
        <result property="drafterApproved" column="DRAFTER_APPROVED"/>
        <result property="sumPrice" column="SUM_PRICE"/>
    </resultMap>

    <resultMap id="orderHistoryList" type="com.varc.brewnetapp.domain.order.query.dto.OrderStatusHistory">
        <id property="orderStatusHistoryCode" column="ORDER_CODE"/>
        <result property="orderHistoryStatus" column="STATUS"/>
        <result property="createdAt" column="CREATED_AT"/>
    </resultMap>

    <resultMap id="OrderDTOResultListForHQ" type="com.varc.brewnetapp.domain.order.query.dto.HQOrderDTO">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="active" column="ACTIVE"/>
        <result property="approvalStatus" column="APPROVAL_STATUS"/>
        <result property="drafterApproved" column="DRAFTER_APPROVED"/>
        <result property="sumPrice" column="SUM_PRICE"/>
        <result property="managerName" column="MANAGER_NAME"/>

        <!-- orderFranchise-->
        <association property="orderFranchise"
                     javaType="com.varc.brewnetapp.domain.order.query.dto.OrderFranchise">
            <id property="franchiseCode" column="FRANCHISE_CODE" />
            <result property="franchiseName" column="FRANCHISE_NAME" />
        </association>

        <!-- orderItems-->
        <collection property="orderItemList"
                    ofType="com.varc.brewnetapp.domain.order.query.dto.OrderItem"
                    javaType="java.util.List"
        >
            <id property="itemCode" column="ITEM_CODE"/>
            <result property="quantity" column="QUANTITY" />

            <result property="name" column="ITEM_NAME" />
            <result property="categoryName" column="SUB_CATEGORY_NAME" />
        </collection>

        <!-- orderStatusHistories-->
        <collection property="orderStatusHistoryList"
                    ofType="com.varc.brewnetapp.domain.order.query.dto.OrderStatusHistory"
                    javaType="java.util.List"
        >
            <id property="orderStatusHistoryCode" column="ORDER_STATUS_HISTORY_CODE"/>
            <result property="orderHistoryStatus" column="ORDER_HISTORY_STATUS" />
            <result property="createdAt" column="HISTORY_CREATED_AT" />
        </collection>
    </resultMap>

    <!-- Queries-->
    <!-- test-->
    <select id="findOrdersBy" resultMap="baseOrderList">
        SELECT
              O.ORDER_CODE
            , O.COMMENT
            , O.CREATED_AT
            , O.ACTIVE
            , O.APPROVAL_STATUS
            , O.DRAFTER_APPROVED
            , O.SUM_PRICE
         FROM tbl_order O
        ORDER BY CREATED_AT
    </select>

    <!-- common-->
    <select id="countOrders" resultType="int">
        SELECT COUNT(*)
        FROM tbl_order O
        WHERE 1=1
        AND O.ACTIVE = 1
        <if test="filter == 'UNCONFIRMED'">
            AND O.APPROVED = #{filter}
        </if>
    </select>

    <select id="findOrderHistoriesByOrderId" resultMap="orderHistoryList">
        SELECT
               oh.ORDER_STATUS_HISTORY_CODE
             , oh.STATUS
             , oh.CREATED_AT
          FROM tbl_order_status_history oh
    </select>


    <!-- for HQ-->
    <select id="findOrdersForHQBy" resultMap="OrderDTOResultListForHQ">
        SELECT
               o.ORDER_CODE
             , o.CREATED_AT
             , o.ACTIVE
             , o.APPROVAL_STATUS
             , o.DRAFTER_APPROVED
             , o.SUM_PRICE
             , m.NAME as MANAGER_NAME
             , f.FRANCHISE_CODE
             , f.FRANCHISE_NAME
             , oi.ITEM_CODE
             , oi.QUANTITY
             , i.NAME as ITEM_NAME
             , sc.NAME as SUB_CATEGORY_NAME
             , oh.ORDER_STATUS_HISTORY_CODE
             , oh.STATUS as ORDER_HISTORY_STATUS
             , oh.CREATED_AT as HISTORY_CREATED_AT

          FROM tbl_order o

          LEFT JOIN
               tbl_franchise f ON o.FRANCHISE_CODE = f.FRANCHISE_CODE
          LEFT JOIN
               tbl_member m ON o.MEMBER_CODE = m.MEMBER_CODE
          LEFT JOIN
               tbl_order_status_history oh ON o.ORDER_CODE = oh.ORDER_CODE
          LEFT JOIN
               tbl_order_item oi ON o.ORDER_CODE = oi.ORDER_CODE
          LEFT JOIN
               tbl_item i ON oi.ITEM_CODE = i.ITEM_CODE
          LEFT JOIN
               tbl_sub_category sc ON i.CATEGORY_CODE = sc.SUB_CATEGORY_CODE

         WHERE o.ACTIVE = 1
        <if test="filter == 'UNCONFIRMED'">
           AND o.APPROVED = #{filter}
        </if>
        <if test="startDate != null and startDate != ''">
            AND o.CREATED_AT &gt;= STR_TO_DATE(#{startDate}, '%Y-%m-%d')
        </if>
        <if test="endDate != null and endDate != ''">
            AND o.CREATED_AT &lt; STR_TO_DATE(#{endDate}, '%Y-%m-%d') + INTERVAL 1 DAY
        </if>

        <choose>
            <when test="sort == 'createdAtDesc'">
                ORDER BY o.CREATED_AT DESC
            </when>
            <when test="sort == 'createdAtAsc'">
                ORDER BY o.CREATED_AT ASC
            </when>
            <when test="sort == 'sumPriceDesc'">
                ORDER BY o.SUM_PRICE DESC
            </when>
            <when test="sort == 'sumPriceAsc'">
                ORDER BY o.SUM_PRICE ASC
            </when>
            <otherwise>

                <!-- 기본 정렬 -->
                ORDER BY o.CREATED_AT DESC
            </otherwise>
        </choose>
        LIMIT #{size} OFFSET #{offset}
    </select>
</mapper>