<?xml version="1.0" encoding="UTF-8" ?>
  <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.delivery.query.mapper.DeliveryMapper">
  
  <resultMap id="deliveryMap" type="com.varc.brewnetapp.domain.delivery.query.dto.DeliveryDTO">
    <result property="deliveryKind" column="TYPE"/>
    <result property="code" column="CODE"/>
    <result property="deliveryFranchiseName" column="FRANCHISE_NAME"/>
    <result property="deliveryStatus" column="STATUS"/>
    <result property="contact" column="CONTACT"/>
  </resultMap>

  <resultMap id="deliveryDetailMap" type="com.varc.brewnetapp.domain.delivery.query.dto.DeliveryDetailDTO">
    <id property="code" column="CODE"/>
    <result property="deliveryKind" column="KIND"/>
    <result property="deliveryStatus" column="STATUS"/>
    <collection property="items" ofType="com.varc.brewnetapp.domain.delivery.query.dto.ItemDTO">
      <result property="itemName" column="ITEM_NAME" />
      <result property="quantity" column="QUANTITY" />
    </collection>
  </resultMap>

  <resultMap id="itemMap" type= "com.varc.brewnetapp.domain.delivery.query.dto.ItemDTO">
    <result property="itemName" column="ITEM_NAME" />
    <result property="quantity" column="QUANTITY" />
  </resultMap>

  <select id="selectOrderDeliveryList" resultMap="deliveryMap" parameterType="map">
    WITH LatestOrderStatus AS (
         SELECT
                ORDER_CODE
              , STATUS
              , CREATED_AT
              , ROW_NUMBER() OVER (PARTITION BY ORDER_CODE ORDER BY CREATED_AT DESC) AS RN
           FROM tbl_order_status_history
          WHERE ACTIVE = TRUE
    )
    SELECT
           'ORDER' AS TYPE
         , O.ORDER_CODE AS CODE
         , F.FRANCHISE_NAME
         , OH.STATUS
         , F.CONTACT
      FROM tbl_order O
     INNER JOIN tbl_franchise F ON O.FRANCHISE_CODE = F.FRANCHISE_CODE
     INNER JOIN LatestOrderStatus OH ON O.ORDER_CODE = OH.ORDER_CODE
     WHERE OH.RN = 1 AND O.ACTIVE = TRUE AND OH.STATUS = 'APPROVED' AND O.DELIVERY_CODE IS NULL
     ORDER BY OH.CREATED_AT ASC
     LIMIT #{pageSize}
    OFFSET #{offset}
  </select>
  
  <select id="selectOrderDeliveryListCnt" resultType="_int">
    WITH LatestOrderStatus AS (
      SELECT
             ORDER_CODE
           , STATUS
           , CREATED_AT
           , ROW_NUMBER() OVER (PARTITION BY ORDER_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_order_status_history
       WHERE ACTIVE = TRUE
    )
    SELECT
           COUNT(*)
      FROM tbl_order O
     INNER JOIN LatestOrderStatus OH ON O.ORDER_CODE = OH.ORDER_CODE
     WHERE OH.RN = 1 AND O.ACTIVE = TRUE AND OH.STATUS = 'APPROVED' AND O.DELIVERY_CODE IS NULL
  </select>

  <select id="selectPickUpDeliveryList" resultMap="deliveryMap" parameterType="map">
    WITH LatestExchangeStatus AS (
      SELECT
             EXCHANGE_CODE
           , STATUS
           , CREATED_AT
           , ROW_NUMBER() OVER (PARTITION BY EXCHANGE_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_exchange_status_history
       WHERE ACTIVE = TRUE
    ),
    LatestReturnStatus AS (
      SELECT
             RETURN_CODE
           , STATUS
           , CREATED_AT
           , ROW_NUMBER() OVER (PARTITION BY RETURN_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_return_status_history
       WHERE ACTIVE = TRUE
    )
    SELECT
           'EXCHANGE' AS TYPE
         , E.EXCHANGE_CODE AS CODE
         , F.FRANCHISE_NAME
         , EH.STATUS
         , F.CONTACT
         , EH.CREATED_AT AS CREATED_AT
      FROM tbl_exchange E
     INNER JOIN tbl_order O ON E.ORDER_CODE = O.ORDER_CODE
     INNER JOIN tbl_franchise F ON O.FRANCHISE_CODE = F.FRANCHISE_CODE
     INNER JOIN LatestExchangeStatus EH ON E.EXCHANGE_CODE = EH.EXCHANGE_CODE
     WHERE EH.RN = 1 AND E.ACTIVE = TRUE AND E.DELIVERY_CODE IS NULL AND (EH.STATUS = 'APPROVED' OR EH.STATUS = 'PICKED')
    UNION ALL
    SELECT
           'RETURN' AS TYPE
         , R.RETURN_CODE AS CODE
         , F.FRANCHISE_NAME
         , RH.STATUS
         , F.CONTACT
         , RH.CREATED_AT AS CREATED_AT
      FROM tbl_return R
     INNER JOIN tbl_order O ON R.ORDER_CODE = O.ORDER_CODE
     INNER JOIN tbl_franchise F ON O.FRANCHISE_CODE = F.FRANCHISE_CODE
     INNER JOIN LatestReturnStatus RH ON R.RETURN_CODE = RH.RETURN_CODE
     WHERE RH.RN = 1 AND R.ACTIVE = TRUE AND RH.STATUS = 'APPROVED' AND R.DELIVERY_CODE IS NULL
     ORDER BY CREATED_AT ASC
     LIMIT #{ pageSize }
    OFFSET #{ offset };
  </select>

  <select id="selectPickUpDeliveryListCnt" resultType="_int">
    WITH LatestExchangeStatus AS (
      SELECT
             EXCHANGE_CODE
           , STATUS
           , CREATED_AT
           , ROW_NUMBER() OVER (PARTITION BY EXCHANGE_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_exchange_status_history
       WHERE ACTIVE = TRUE
    ),
    LatestReturnStatus AS (
      SELECT
             RETURN_CODE
           , STATUS
           , CREATED_AT
           , ROW_NUMBER() OVER (PARTITION BY RETURN_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_return_status_history
       WHERE ACTIVE = TRUE
    )
    SELECT
           SUM(COUNT)
      FROM (
            SELECT
                   COUNT(*) AS COUNT
              FROM tbl_exchange E
             INNER JOIN LatestExchangeStatus EH ON E.EXCHANGE_CODE = EH.EXCHANGE_CODE
             WHERE EH.RN = 1 AND E.ACTIVE = TRUE AND E.DELIVERY_CODE IS NULL AND (EH.STATUS = 'APPROVED' OR EH.STATUS = 'PICKED')
            UNION ALL
            SELECT
                   COUNT(*) AS COUNT
              FROM tbl_return R
             INNER JOIN LatestReturnStatus RH ON R.RETURN_CODE = RH.RETURN_CODE
             WHERE RH.RN = 1 AND R.ACTIVE = TRUE AND RH.STATUS = 'APPROVED' AND R.DELIVERY_CODE IS NULL
            ) AS UNION_RESULT_SET
  </select>

  <select id="selectMyDeliveryDetail" resultMap="deliveryDetailMap" parameterType="_int">
    WITH LatestOrderStatus AS (
      SELECT
             ORDER_CODE
           , STATUS
           , CREATED_AT
           , ACTIVE
           , ROW_NUMBER() OVER (PARTITION BY ORDER_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_order_status_history
       WHERE ACTIVE = TRUE
    ),
    LatestExchangeStatus AS (
      SELECT
             EXCHANGE_CODE
           , STATUS
           , CREATED_AT
           , ACTIVE
           , ROW_NUMBER() OVER (PARTITION BY EXCHANGE_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_exchange_status_history
       WHERE ACTIVE = TRUE
    ),
    LatestReturnStatus AS (
      SELECT
             RETURN_CODE
           , STATUS
           , CREATED_AT
           , ACTIVE
           , ROW_NUMBER() OVER (PARTITION BY RETURN_CODE ORDER BY CREATED_AT DESC) AS RN
        FROM tbl_return_status_history
       WHERE ACTIVE = TRUE
    )
    SELECT
           'ORDER' AS KIND
         , O.ORDER_CODE AS CODE
         , OH.STATUS AS STATUS
         , OH.CREATED_AT AS CREATED_AT
      FROM tbl_order O
     INNER JOIN LatestOrderStatus OH ON O.ORDER_CODE = OH.ORDER_CODE
     INNER JOIN tbl_member M ON O.MEMBER_CODE = M.MEMBER_CODE
     WHERE OH.RN = 1 AND O.ACTIVE = TRUE AND OH.ACTIVE = TRUE AND O.DELIVERY_CODE = #{ deliveryMemberCode } AND OH.STATUS = 'SHIPPING'
    UNION ALL
    SELECT
           'EXCHANGE' AS KIND
         , E.EXCHANGE_CODE AS CODE
         , EH.STATUS AS STATUS
         , EH.CREATED_AT AS CREATED_AT
      FROM tbl_exchange E
     INNER JOIN LatestExchangeStatus EH ON E.EXCHANGE_CODE = EH.EXCHANGE_CODE
     INNER JOIN tbl_member M ON E.MEMBER_CODE = M.MEMBER_CODE
     WHERE EH.RN = 1 AND E.ACTIVE = TRUE AND EH.ACTIVE = TRUE AND E.DELIVERY_CODE = #{ deliveryMemberCode } AND (EH.STATUS = 'SHIPPING' OR EH.STATUS = 'PICKING')
    UNION ALL
    SELECT
           'RETURN' AS KIND
         , R.RETURN_CODE AS CODE
         , RH.STATUS AS STATUS
         , RH.CREATED_AT AS CREATED_AT
      FROM tbl_return R
     INNER JOIN LatestReturnStatus RH ON R.RETURN_CODE = RH.RETURN_CODE
     INNER JOIN tbl_member M ON R.MEMBER_CODE = M.MEMBER_CODE
     WHERE RH.RN = 1 AND R.ACTIVE = TRUE AND RH.ACTIVE = TRUE AND R.DELIVERY_CODE = #{ deliveryMemberCode } AND RH.STATUS = 'PICKING'
     ORDER BY CREATED_AT
     LIMIT 1
  </select>

  <select id="selectExchangeDelivery" resultMap="itemMap" parameterType="_int">
    SELECT
           I.NAME AS ITEM_NAME
         , EI.QUANTITY AS QUANTITY
      FROM tbl_exchange E
     INNER JOIN tbl_exchange_item EI ON EI.EXCHANGE_CODE = E.EXCHANGE_CODE
     INNER JOIN tbl_item I ON EI.ITEM_CODE = I.ITEM_CODE
     WHERE E.EXCHANGE_CODE = #{ code }
  </select>

  <select id="selectReturnDelivery" resultMap="itemMap" parameterType="_int">
    SELECT
           I.NAME AS ITEM_NAME
         , RI.QUANTITY
      FROM tbl_RETURN R AS QUANTITY
     INNER JOIN tbl_return_item RI ON RI.RETURN_CODE = R.RETURN_CODE
     INNER JOIN tbl_item I ON RI.ITEM_CODE = I.ITEM_CODE
     WHERE R.RETURN_CODE = #{ code }
  </select>

  <select id="selectOrderDelivery" resultMap="itemMap" parameterType="_int">
    SELECT
           I.NAME AS ITEM_NAME
         , OI.QUANTITY AS QUANTITY
      FROM tbl_order O
     INNER JOIN tbl_order_item OI ON OI.ORDER_CODE = O.ORDER_CODE
     INNER JOIN tbl_item I ON OI.ITEM_CODE = I.ITEM_CODE
     WHERE O.ORDER_CODE = #{ code }
  </select>

</mapper>