<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.member.query.mapper.MemberMapper">

  <resultMap id="memberResultMap" type="com.varc.brewnetapp.domain.member.query.dto.MemberDTO">
    <id property="memberCode" column="MEMBER_CODE"/>
    <result property="id" column="ID"/>
    <result property="password" column="PASSWORD"/>
    <result property="name" column="NAME"/>
    <result property="email" column="EMAIL"/>
    <result property="contact" column="CONTACT"/>
    <result property="signatureUrl" column="SIGNATURE_URL"/>
    <result property="positionName" column="POSITION_NAME"/>
    <result property="roles" column="ROLES"/>
  </resultMap>


  <select id="selectMemberList" resultMap="memberResultMap" parameterType="map">
    SELECT
           M.MEMBER_CODE,
           M.ID,
           M.PASSWORD,
           M.NAME,
           M.EMAIL,
           M.CONTACT,
           M.SIGNATURE_URL,
           P.NAME AS POSITION_NAME,
           (SELECT GROUP_CONCAT(R.ROLE SEPARATOR ', ')
           FROM tbl_member_role MR
           INNER JOIN tbl_role R
           ON MR.ROLE_CODE = R.ROLE_CODE
           WHERE MR.MEMBER_CODE = M.MEMBER_CODE) AS ROLES
      FROM tbl_member M
     INNER JOIN tbl_position P
        ON M.POSITION_CODE = P.POSITION_CODE
     WHERE M.ACTIVE = TRUE
     ORDER BY M.MEMBER_CODE DESC
     LIMIT #{ pageSize }
    OFFSET #{ offset };
  </select>

  <select id="selectMemberListCnt" resultType="int">
    SELECT COUNT(*)
      FROM tbl_member
     WHERE ACTIVE = TRUE
  </select>

</mapper>