<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.member.query.mapper.MemberMapper">

  <resultMap id="memberResultMap" type="com.varc.brewnetapp.domain.member.query.dto.MemberDTO">
    <id property="memberCode" column="MEMBER_CODE"/>
    <result property="id" column="ID"/>
    <result property="password" column="PASSWORD"/>
    <result property="name" column="NAME"/>
    <result property="email" column="EMAIL"/>
    <result property="contact" column="CONTACT"/>
    <result property="signatureUrl" column="SIGNATURE_URL"/>
    <result property="positionName" column="POSITION_NAME"/>
    <collection property="roleList" ofType="java.lang.String">
      <result property="role" column="ROLE"/>
    </collection>
  </resultMap>

  <select id="selectMember" resultMap="memberResultMap" parameterType="map">
    SELECT
           M.MEMBER_CODE
         , M.ID
         , M.PASSWORD
         , M.NAME
         , M.EMAIL
         , M.CONTACT
         , M.SIGNATURE_URL
         , P.POSITION_NAME
         , R.ROLE
      FROM tbl_member M
     INNER JOIN tbl_member_role MR
        ON (M.MEMBER_CODE = MR.MEMBER_CODE)
     INNER JOIN tbl_role R
        ON (MR.ROLE_CODE = R.ROLE_CODE)
     INNER JOIN tbl_position P
        ON (M.POSITION_CODE = P.POSITION_CODE)
     WHERE M.ACTIVE = TRUE
     ORDER BY M.MEMBER_CODE DESC
     LIMIT #{ pageSize }
    OFFSET #{ pageNum }
  </select>
</mapper>