<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.statistics.query.mapper.StatisticsMapper">

  <resultMap id="OrderStatisticsResultMap" type="com.varc.brewnetapp.domain.statistics.query.dto.OrderStatisticsDTO">
    <result property="orderCount" column="order_count" />
    <result property="exchangeCount" column="exchange_count" />
    <result property="returnCount" column="return_count" />
  </resultMap>

  <resultMap id="OrderItemStatisticsResultMap" type="com.varc.brewnetapp.domain.statistics.query.dto.OrderItemStatisticsDTO">
    <result property="itemName" column="item_name" />
    <result property="itemPercent" column="item_percent" />
    <result property="itemCount" column="item_count" />
  </resultMap>

  <resultMap id="OrderCountPriceResultMap" type="com.varc.brewnetapp.domain.statistics.query.dto.OrderCountPriceDTO">
    <result property="date" column="date" />
    <result property="orderCount" column="order_count" />
    <result property="orderPrice" column="order_price" />
  </resultMap>

  <resultMap id="ItemStockResultMap" type="com.varc.brewnetapp.domain.statistics.query.dto.SafeStockStatisticsDTO">
    <result property="itemName" column="item_name"/>
    <result property="itemCode" column="item_code"/>
    <result property="availableStock" column="available_stock"/>
    <result property="safeStock" column="safe_stock"/>
    <result property="availableMinusSafeStock" column="available_minus_safe_stock"/>
    <result property="unApprovedOrderCount" column="unapproved_order_count"/>
    <result property="minPurchaseCount" column="min_purchase_count"/>
  </resultMap>

  <resultMap id="NewOrderResultMap" type="com.varc.brewnetapp.domain.statistics.query.dto.newOrderDTO">
    <id property="orderCode" column="order_code" />
    <result property="franchiseName" column="franchise_name" />
    <result property="franchiseCode" column="franchise_code" />
    <result property="itemName" column="item_name" />
    <result property="totalPrice" column="total_price" />
    <result property="createdAt" column="created_at" />
  </resultMap>

  <select id="selectOrderStatistics" resultMap="OrderStatisticsResultMap" parameterType="map">
    SELECT
           (SELECT
                   COUNT(*)
              FROM tbl_order
             WHERE active = true
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
               AND created_at BETWEEN #{startDate} AND #{endDate}
            </if>) AS order_count,
          (SELECT
                  COUNT(*)
            FROM tbl_exchange
           WHERE active = true
          <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
             AND created_at BETWEEN #{startDate} AND #{endDate}
          </if>) AS exchange_count,
          (SELECT
                  COUNT(*)
             FROM tbl_return
            WHERE active = true
          <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
             AND created_at BETWEEN #{startDate} AND #{endDate}
          </if>) AS return_count;
  </select>

  <select id="selectOrderItemStatistics" resultMap="OrderItemStatisticsResultMap" parameterType="map">
    SELECT
           OI.item_code
         , I.name as item_name
         , SUM(OI.quantity) as item_count
      FROM tbl_order O
     INNER JOIN tbl_order_item OI ON O.order_code = OI.order_code
     INNER JOIN tbl_item I ON OI.item_code = I.item_code
     WHERE O.active = true
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
      AND O.created_at BETWEEN #{startDate} AND #{endDate}
    </if>
     GROUP BY OI.item_code, I.name
     ORDER BY SUM(OI.quantity) DESC
     LIMIT 10
  </select>

  <select id="selectOrderItemStatisticsCnt" resultType="int" parameterType="map">
    SELECT
           SUM(OI.quantity) AS item_count
      FROM tbl_order O
     INNER JOIN tbl_order_item OI ON O.order_code = OI.order_code
     WHERE O.active = true
    <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
       AND O.created_at BETWEEN #{startDate} AND #{endDate}
    </if>
  </select>

  <select id="selectOrderCountPriceList" resultMap="OrderCountPriceResultMap" parameterType="string">
    SELECT
           DATE(O.created_at) AS date
         , COUNT(O.order_code) AS order_count
         , SUM(OI.part_sum_price) AS order_price
      FROM tbl_order O
      LEFT JOIN tbl_order_item OI ON O.order_code = OI.order_code
     WHERE DATE_FORMAT(O.created_at, '%Y-%m') = #{ yearMonth } AND O.active = true
     GROUP BY DATE(O.created_at)
     ORDER BY date
  </select>

  <select id="selectSafeStock" resultMap="ItemStockResultMap" parameterType="map">
    SELECT
           I.name AS item_name
         , I.item_code
         , S.available_stock
         , I.safety_stock AS safe_stock
         , (S.available_stock - I.safety_stock) AS available_minus_safe_stock
      FROM tbl_stock S
     INNER JOIN tbl_item I ON (I.item_code = S.item_code)
     WHERE I.active = true AND S.active = true AND (S.available_stock - I.safety_stock) &lt; 0
     ORDER BY available_minus_safe_stock
     LIMIT #{ pageSize }
    OFFSET #{ offset }
  </select>

  <select id="selectSafeStockCnt" resultType="int" parameterType="map">
    SELECT
    COALESCE(COUNT(*), 0) AS count
    FROM tbl_stock S
    INNER JOIN tbl_item I ON (I.item_code = S.item_code)
    WHERE I.active = true AND S.active = true AND (S.available_stock - I.safety_stock) &lt; 0
    ORDER BY available_minus_safe_stock
  </select>


  <select id="selectUnApprovedItemCount" resultType="int" parameterType="int">
    SELECT
    COALESCE(SUM(OI.quantity), 0) AS quantity
    FROM tbl_order_item OI
    INNER JOIN tbl_order O ON O.order_code = OI.order_code
    WHERE O.active = true
    AND (O.approval_status = 'UNCONFIRMED' OR O.approval_status = 'CANCELED')
    AND OI.item_code = #{ itemCode }
    GROUP BY OI.item_code;
  </select>


  <select id="selectNewOrder" resultMap="NewOrderResultMap" parameterType="map">
    SELECT
           O.order_code
         , F.franchise_name
         , F.franchise_code
         , CONCAT(I.name, ' 외 ', COUNT(OI.item_code) - 1, '개') AS item_name
         , O.sum_price AS total_price
         , DATE_FORMAT(O.created_at, '%Y-%m-%d') AS created_at
      FROM tbl_order O
     INNER JOIN tbl_order_item OI ON O.order_code = OI.order_code
     INNER JOIN tbl_item I ON OI.item_code = I.item_code
     INNER JOIN tbl_franchise F ON O.franchise_code = F.franchise_code
     WHERE O.active = TRUE AND O.member_code IS NULL
     GROUP BY O.order_code
     ORDER BY O.created_at DESC
     LIMIT #{ pageSize }
    OFFSET #{ offset }
  </select>

  <select id="selectNewOrderCnt" resultType="int" parameterType="map">
    SELECT
           COUNT(*) AS group_count
      FROM (
            SELECT O.order_code
              FROM tbl_order O
             INNER JOIN tbl_order_item OI ON O.order_code = OI.order_code
             INNER JOIN tbl_item I ON OI.item_code = I.item_code
             INNER JOIN tbl_franchise F ON O.franchise_code = F.franchise_code
             WHERE O.active = TRUE AND O.member_code IS NULL
             GROUP BY O.order_code
      ) grouped_data;
  </select>
</mapper>