<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.document.query.mapper.DocumentMapper">

  <resultMap id="approvalResultMap" type="com.varc.brewnetapp.domain.document.query.dto.ApprovalDTO">
    <result property="kind" column="KIND"/>
    <result property="seq" column="SEQUENCE"/>
    <result property="positionName" column="NAME"/>
  </resultMap>

  <resultMap id="approverResultMap" type="com.varc.brewnetapp.domain.document.query.dto.ApproverDTO">
    <result property="positionName" column="NAME"/>
  </resultMap>

  <resultMap id="approverListResultMap" type="com.varc.brewnetapp.domain.document.query.dto.ApproverMemberDTO">
    <id property="approverCode" column="MEMBER_CODE"/>
    <result property="approverName" column="MEMBER_NAME"/>
    <result property="positionName" column="POSITION_NAME"/>
  </resultMap>

  <select id="selectApprovalList" resultMap="approvalResultMap">
    SELECT
           A.KIND,
           A.SEQUENCE,
           P.NAME
      FROM tbl_approval A
     INNER JOIN tbl_position P ON (A.position_code = P.position_code)
     ORDER BY A.KIND DESC, A.SEQUENCE ASC;
  </select>
  
  <select id="selectApproverList" resultMap="approverResultMap" parameterType="string">
    SELECT
           NAME
      FROM tbl_position
     WHERE NAME != 'STAFF'
  </select>

  <!-- 결재 구분으로 해당 결재라인에 속한 결재자들 조회 -->
  <select id="selectApproversByKind"
          parameterType="com.varc.brewnetapp.domain.purchase.common.KindOfApproval"
          resultMap="approverListResultMap">
    SELECT
           M.MEMBER_CODE,
           M.NAME AS MEMBER_NAME,
           P.NAME AS POSITION_NAME
      FROM tbl_member M
      JOIN tbl_position P ON M.POSITION_CODE = P.POSITION_CODE
      JOIN tbl_approval A ON P.POSITION_CODE = A.POSITION_CODE
    <where>
        A.KIND = #{approvalLine}
    </where>
     ORDER BY M.NAME ASC
  </select>
</mapper>