<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.exchange.query.mapper.ExchangeMapper">
    <resultMap id="exchangeListResultMap" type="com.varc.brewnetapp.domain.exchange.query.aggregate.vo.ExchangeListVO">
        <result property="exchangeCode" column="exchange_code"/>
        <result property="franchiseName" column="franchise_name"/>
        <result property="itemName" column="item_name"/>
        <result property="reason" column="reason"/>
        <result property="memberCode" column="member_name"/>
        <result property="createdAt" column="created_at"/>
        <result property="status" column="status"/>
        <result property="approved" column="approved"/>
    </resultMap>

    <resultMap id="exchangeDetailItemResultMap" type="com.varc.brewnetapp.domain.exchange.query.aggregate.vo.ExchangeItemVO">
        <result property="itemUniqueCode" column="item_unique_code"/>
        <result property="itemName" column="item_name"/>
        <result property="superCategory" column="super_category"/>
        <result property="subCategory" column="sub_category"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <resultMap id="exchangeDetailResultMap" type="com.varc.brewnetapp.domain.exchange.query.aggregate.vo.ExchangeDetailVO">
        <id property="exchangeCode" column="exchange_code" />
        <result property="createdAt" column="created_at"/>
        <result property="franchiseName" column="franchise_name"/>
        <result property="reason" column="reason"/>
        <result property="memberName" column="member_name"/>
        <result property="comment" column="comment"/>
        <result property="explanation" column="explanation"/>

        <!-- 교환 물품 리스트 매핑 -->
        <collection property="exchangeItemList" ofType="com.varc.brewnetapp.domain.exchange.query.aggregate.vo.ExchangeItemVO"
                    select="selectExchangeDetailItemBy" column="exchange_code"/>

        <!-- 교환 이미지 리스트 매핑 -->
        <collection property="exchangeImageList" ofType="java.lang.String"
                    select="selectExchangeDetailImageBy" column="exchange_code"/>
    </resultMap>

    <select id="selectExchangeListCnt" resultType="int">
        SELECT
              COUNT(*)
          FROM tbl_exchange A
              JOIN tbl_order B ON A.order_code = B.order_code
              JOIN tbl_franchise C ON B.franchise_code = C.franchise_code
              JOIN tbl_exchange_item D ON A.exchange_code = D.exchange_code
              JOIN tbl_item E ON D.item_code = E.item_code
              JOIN tbl_member F ON A.member_code = F.member_code
              JOIN tbl_exchange_status_history G ON A.exchange_code = G.exchange_code
              JOIN (
                    SELECT exchange_code, MAX(created_at) AS max_created_at
                      FROM tbl_exchange_status_history
                     GROUP BY exchange_code
              ) latest_status ON G.exchange_code = latest_status.exchange_code
          AND G.created_at = latest_status.max_created_at;
    </select>

    <select id="selectExchangeList" resultMap="exchangeListResultMap">
        SELECT
              A.exchange_code
            , C.franchise_name
            , GROUP_CONCAT(E.name SEPARATOR ', ') AS item_name
            , A.reason
            , F.name AS member_name
            , A.created_at
            , G.status
            , A.approved
         FROM tbl_exchange A
              JOIN tbl_order B ON A.order_code = B.order_code
              JOIN tbl_franchise C ON B.franchise_code = C.franchise_code
              JOIN tbl_exchange_item D ON A.exchange_code = D.exchange_code
              JOIN tbl_item E ON D.item_code = E.item_code
              JOIN tbl_member F ON A.member_code = F.member_code
              JOIN tbl_exchange_status_history G ON A.exchange_code = G.exchange_code
              JOIN (
                    SELECT exchange_code, MAX(created_at) AS max_created_at
                    FROM tbl_exchange_status_history
                    GROUP BY exchange_code
                    ) latest_status ON G.exchange_code = latest_status.exchange_code
          AND G.created_at = latest_status.max_created_at
        GROUP BY A.exchange_code, C.franchise_name, A.reason, F.name, A.created_at, G.status, A.approved
        LIMIT #{ offset }, #{ pageSize };
    </select>

    <select id="selectExchangeDetailBy" resultMap="exchangeDetailResultMap">
        SELECT
              A.exchange_code
            , A.created_at
            , C.franchise_name
            , A.reason
            , D.name AS member_name
            , A.comment
            , A.explanation
         FROM tbl_exchange A
              JOIN tbl_order B ON A.order_code = B.order_code
              JOIN tbl_franchise C ON B.franchise_code = C.franchise_code
              JOIN tbl_member D ON A.member_code = D.member_code
        WHERE A.exchange_code = #{ exchangeCode };
    </select>

    <select id="selectExchangeDetailImageBy" resultType="string">
        SELECT
              A.image_url
         FROM tbl_exchange_img A
        WHERE A.exchange_code = #{ exchangeCode };
    </select>

    <select id="selectExchangeDetailItemBy" resultMap="exchangeDetailItemResultMap">
        SELECT
              B.item_unique_code
            , B.name AS item_name
            , C.name AS sub_category
            , D.name AS super_category
            , A.quantity
         FROM tbl_exchange_item A
              JOIN tbl_item B ON A.item_code = B.item_code
              JOIN tbl_sub_category C ON B.category_code = C.sub_category_code
              JOIN tbl_super_category D ON C.super_category_code = D.super_category_code
        WHERE A.exchange_code = #{ exchangeCode };
    </select>
</mapper>