<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.franchise.query.mapper.FranchiseMapper">

  <resultMap id="franchiseResultMap" type="com.varc.brewnetapp.domain.franchise.query.dto.FranchiseDTO">
    <id property="franchiseCode" column="FRANCHISE_CODE"/>
    <result property="franchiseName" column="FRANCHISE_NAME"/>
    <result property="address" column="ADDRESS"/>
    <result property="detailAddress" column="DETAIL_ADDRESS"/>
    <result property="contact" column="CONTACT"/>
    <result property="businessNumber" column="BUSINESS_NUMBER"/>
    <result property="name" column="NAME"/>
  </resultMap>

  <resultMap id="franchiseMemberResultMap" type="com.varc.brewnetapp.domain.franchise.query.dto.FranchiseMemberDTO">
    <id property="memberCode" column="MEMBER_CODE"/>
    <result property="memberName" column="NAME"/>
    <result property="contact" column="CONTACT"/>
    <result property="franchiseName" column="FRANCHISE_NAME"/>
    <result property="franchiseCode" column="FRANCHISE_CODE"/>
    <result property="email" column="EMAIL"/>
    <result property="loginId" column="ID"/>
  </resultMap>

  <select id="selectFranchise" resultMap="franchiseResultMap" parameterType="_int">
    SELECT
           FRANCHISE_CODE
         , FRANCHISE_NAME
         , ADDRESS
         , DETAIL_ADDRESS
         , CONTACT
         , BUSINESS_NUMBER
         , NAME
      FROM tbl_franchise
     WHERE ACTIVE = TRUE AND FRANCHISE_CODE = ${franchiseCode}
  </select>



  <select id="selectFranchiseList" resultMap="franchiseResultMap" parameterType="map">
    SELECT
           FRANCHISE_CODE
         , FRANCHISE_NAME
         , ADDRESS
         , DETAIL_ADDRESS
         , CONTACT
         , BUSINESS_NUMBER
         , NAME
      FROM tbl_franchise
     WHERE ACTIVE = TRUE
    <if test="franchiseName != null and franchiseName != ''">
      AND FRANCHISE_NAME LIKE CONCAT('%', #{franchiseName}, '%')
    </if>
    <if test="citys != null and citys.size() > 0">
      AND CITY IN
      <foreach item="city" collection="citys" open="(" separator="," close=")">
        #{city}
      </foreach>
    </if>
    <choose>
      <when test="sort == 'franchiseNameASC'">
        ORDER BY FRANCHISE_NAME ASC
      </when>
      <when test="sort == 'franchiseNameDESC'">
        ORDER BY FRANCHISE_NAME DESC
      </when>
      <otherwise>
        FRANCHISE_CODE DESC
      </otherwise>
    </choose>
     LIMIT #{ pageSize }
    OFFSET #{ offset };
  </select>

  <select id="selectFranchiseWhereFranchiseNameAndCitysCnt" resultType="_int" parameterType="map">
    SELECT
           COUNT(*)
      FROM tbl_franchise
     WHERE ACTIVE = TRUE
    <if test="franchiseName != null and franchiseName != ''">
      AND FRANCHISE_NAME LIKE CONCAT('%', #{franchiseName}, '%')
    </if>
    <if test="citys != null and citys.size() > 0">
      AND CITY IN
      <foreach item="city" collection="citys" open="(" separator="," close=")">
        #{city}
      </foreach>
    </if>
  </select>

  <select id="selectFranchiseMemberList" resultMap="franchiseMemberResultMap" parameterType="map">
    SELECT
           M.MEMBER_CODE
         , M.NAME
         , M.CONTACT
         , F.FRANCHISE_NAME
         , F.FRANCHISE_CODE
         , M.ID
         , M.EMAIL
      FROM tbl_member M
     INNER JOIN tbl_franchise_member FM ON M.MEMBER_CODE = FM.MEMBER_CODE
     INNER JOIN tbl_franchise F ON FM.FRANCHISE_CODE = F.FRANCHISE_CODE
     WHERE M.ACTIVE = TRUE AND F.ACTIVE = TRUE
    <if test="franchiseName != null and franchiseName != ''">
      AND F.FRANCHISE_NAME LIKE CONCAT('%', #{franchiseName}, '%')
    </if>
    <if test="citys != null and citys.size() > 0">
      AND F.CITY IN
      <foreach item="city" collection="citys" open="(" separator="," close=")">
        #{city}
      </foreach>
    </if>
    <choose>
      <when test="sort == 'franchiseNameASC'">
        ORDER BY FRANCHISE_NAME ASC
      </when>
      <when test="sort == 'franchiseNameDESC'">
        ORDER BY FRANCHISE_NAME DESC
      </when>
      <otherwise>
        FRANCHISE_CODE DESC
      </otherwise>
    </choose>
     LIMIT #{ pageSize }
    OFFSET #{ offset };
  </select>

  <select id="selectFranchiseMemberWhereFranchiseNameAndCitysCnt" resultType="_int" parameterType="map">
    SELECT
           COUNT(*)
      FROM tbl_member M
     INNER JOIN tbl_franchise_member FM ON M.MEMBER_CODE = FM.MEMBER_CODE
     INNER JOIN tbl_franchise F ON FM.FRANCHISE_CODE = F.FRANCHISE_CODE
     WHERE M.ACTIVE = TRUE AND F.ACTIVE = TRUE
    <if test="franchiseName != null and franchiseName != ''">
      AND F.FRANCHISE_NAME LIKE CONCAT('%', #{franchiseName}, '%')
    </if>
    <if test="citys != null and citys.size() > 0">
      AND F.CITY IN
      <foreach item="city" collection="citys" open="(" separator="," close=")">
        #{city}
      </foreach>
    </if>
  </select>

</mapper>