<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.varc.brewnetapp.domain.purchase.query.mapper.PurchaseMapper">

    <resultMap id="letterOfPurchaseResultMap" type="com.varc.brewnetapp.domain.purchase.query.dto.LetterOfPurchaseDTO">
        <id property="purchaseCode" column="LETTER_OF_PURCHASE_CODE"/>
        <result property="approved" column="APPROVED"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="sumPrice" column="SUM_PRICE"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="approvedAt" column="APPROVED_AT"/>
        <result property="storageName" column="STORAGE_NAME"/>
        <result property="correspondentName" column="CORRESPONDENT_NAME"/>
    </resultMap>
    
    <resultMap id="letterOfPurchaseDetailResultMap"
               type="com.varc.brewnetapp.domain.purchase.query.dto.LetterOfPurchaseDetailDTO">
        <id property="letterOfPurchaseCode" column="LETTER_OF_PURCHASE_CODE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="Active" column="ACTIVE"/>
        <result property="allApproved" column="ALL_APPROVED"/>
        <result property="memberComment" column="MEMBER_COMMENT"/>
        <result property="correspondentCode" column="CORRESPONDENT_CODE"/>
        <result property="correspondentName" column="CORRESPONDENT_NAME"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="approverApproved" column="APPROVER_APPROVED"/>
        <result property="approverComment" column="APPROVER_COMMENT"/>
        <result property="sumPrice" column="SUM_PRICE"/>
        <result property="vatPrice" column="VAT_PRICE"/>
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="storageCode" column="STORAGE_CODE"/>
        <result property="storageName" column="STORAGE_NAME"/>
        <collection property="items" ofType="com.varc.brewnetapp.domain.purchase.query.dto.PurchaseItemDTO">
            <id property="letterOfPurchaseCode" column="ITEM_PURCHASE_CODE"/>
            <id property="itemCode" column="ITEM_CODE"/>
            <result property="itemName" column="ITEM_NAME"/>
            <result property="itemUniqueCode" column="ITEM_UNIQUE_CODE"/>
            <result property="purchasePrice" column="PURCHASE_PRICE"/>
            <result property="quantity" column="QUANTITY"/>
            <result property="purchaseSum" column="PURCHASE_SUM"/>
            <result property="purchaseVat" column="PURCHASE_VAT"/>
        </collection>
    </resultMap>

    <resultMap id="approvalLineOfPurchaseResultMap"
               type="com.varc.brewnetapp.domain.purchase.query.dto.PurchaseApprovalLineDTO">
        <id property="letterOfPurchaseCode" column="LETTER_OF_PURCHASE_CODE"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <collection property="approvers" ofType="com.varc.brewnetapp.domain.purchase.query.dto.PurchaseApproverDTO">
            <id property="letterOfPurchaseCode" column="PURCHASE_CODE"/>
            <id property="approverCode" column="APPROVER_CODE"/>
            <result property="approved" column="APPROVED"/>
            <result property="approvedAt" column="APPROVED_AT"/>
            <result property="comment" column="COMMENT"/>
            <result property="approverName" column="APPROVER_NAME"/>
            <result property="positionName" column="POSITION_NAME"/>
        </collection>
    </resultMap>
    
    <resultMap id="approvedPurchaseItemResultMap" 
               type="com.varc.brewnetapp.domain.purchase.query.dto.ApprovedPurchaseItemDTO">
        <id property="purchaseCode" column="LETTER_OF_PURCHASE_CODE"/>
        <id property="itemCode" column="ITEM_CODE"/>
        <result property="quantity" column="QUANTITY"/>
        <result property="storageConfirmed" column="STORAGE_CONFIRMED"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="itemName" column="ITEM_NAME"/>
        <result property="itemUniqueCode" column="ITEM_UNIQUE_CODE"/>
        <result property="correspondentName" column="CORRESPONDENT_NAME"/>
        <result property="storageName" column="STORAGE_NAME"/>
    </resultMap>

    <!-- 발주 내역(구매품의서) 목록 조회 및 검색 -->
    <select id="searchLettersOfPurchase"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseCriteria"
            resultMap="letterOfPurchaseResultMap">
        SELECT
               P.LETTER_OF_PURCHASE_CODE,
               P.APPROVED,
               P.CREATED_AT,
               P.SUM_PRICE,
               M.NAME AS MEMBER_NAME,
               A.APPROVED_AT,
               S.NAME AS STORAGE_NAME,
               C.NAME AS CORRESPONDENT_NAME
          FROM tbl_letter_of_purchase P
          JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
          JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
        <where>
            P.ACTIVE = TRUE
            <if test="purchaseCode != null">
                AND P.LETTER_OF_PURCHASE_CODE = #{purchaseCode}
            </if>
            <if test="memberName != null">
                AND M.NAME LIKE CONCAT('%', #{memberName}, '%')
            </if>
            <if test="correspondentName != null">
                AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
            </if>
            <if test="storageName != null">
                AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                    AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
        </where>
         ORDER BY P.LETTER_OF_PURCHASE_CODE DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 발주 내역 목록 페이지네이션을 위한 발주 내역(구매품의서) 총 개수 -->
    <select id="getTotalPurchaseCount"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseCriteria"
            resultType="int">
        SELECT
               COUNT(P.LETTER_OF_PURCHASE_CODE)
          FROM tbl_letter_of_purchase P
          JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
          JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
        <where>
            P.ACTIVE = TRUE
            <if test="purchaseCode != null">
                AND P.LETTER_OF_PURCHASE_CODE = #{purchaseCode}
            </if>
            <if test="memberName != null">
                AND M.NAME LIKE CONCAT('%', #{memberName}, '%')
            </if>
            <if test="correspondentName != null">
                AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
            </if>
            <if test="storageName != null">
                AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                    AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
        </where>
         ORDER BY P.LETTER_OF_PURCHASE_CODE DESC
    </select>

    <!-- 미결재 발주 내역(구매품의서) 목록 조회 및 검색 -->
    <select id="searchUnconfirmedPurchase"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseCriteria"
            resultMap="letterOfPurchaseResultMap">
        SELECT
        P.LETTER_OF_PURCHASE_CODE,
        P.APPROVED,
        P.CREATED_AT,
        P.SUM_PRICE,
        M.NAME AS MEMBER_NAME,
        A.APPROVED_AT,
        S.NAME AS STORAGE_NAME,
        C.NAME AS CORRESPONDENT_NAME
        FROM tbl_letter_of_purchase P
        JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
        JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
        JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
        JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
        <where>
            P.ACTIVE = TRUE
            AND P.APPROVED = 'UNCONFIRMED'
            <if test="purchaseCode != null">
                AND P.LETTER_OF_PURCHASE_CODE = #{purchaseCode}
            </if>
            <if test="memberName != null">
                AND M.NAME LIKE CONCAT('%', #{memberName}, '%')
            </if>
            <if test="correspondentName != null">
                AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
            </if>
            <if test="storageName != null">
                AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
        </where>
        ORDER BY P.LETTER_OF_PURCHASE_CODE DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 미결재 발주 내역 목록 페이지네이션을 위한 발주 내역(구매품의서) 총 개수 -->
    <select id="getUnconfirmedPurchaseCount"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseCriteria"
            resultType="int">
        SELECT
        COUNT(P.LETTER_OF_PURCHASE_CODE)
        FROM tbl_letter_of_purchase P
        JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
        JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
        JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
        JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
        <where>
            P.ACTIVE = TRUE
            AND P.APPROVED = 'UNCONFIRMED'
            <if test="purchaseCode != null">
                AND P.LETTER_OF_PURCHASE_CODE = #{purchaseCode}
            </if>
            <if test="memberName != null">
                AND M.NAME LIKE CONCAT('%', #{memberName}, '%')
            </if>
            <if test="correspondentName != null">
                AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
            </if>
            <if test="storageName != null">
                AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
            </if>
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
        </where>
        ORDER BY P.LETTER_OF_PURCHASE_CODE DESC
    </select>

    <!-- 하나의 발주 내역(구매품의서) 상세 조회 -->
    <select id="selectLetterOfPurchaseByPurchaseCode"
            parameterType="int"
            resultMap="letterOfPurchaseDetailResultMap">
        SELECT
               P.LETTER_OF_PURCHASE_CODE,
               P.CREATED_AT,
               P.ACTIVE,
               P.APPROVED AS ALL_APPROVED,
               P.COMMENT AS MEMBER_COMMENT,
               P.CORRESPONDENT_CODE,
               C.NAME AS CORRESPONDENT_NAME,
               P.MEMBER_CODE,
               M.NAME AS MEMBER_NAME,
               A.APPROVED AS APPROVER_APPROVED,
               A.COMMENT AS APPROVER_COMMENT,
               P.SUM_PRICE,
               (P.SUM_PRICE * 0.1) AS VAT_PRICE,
               (P.SUM_PRICE * 1.1) AS TOTAL_PRICE,
               S.STORAGE_CODE,
               S.NAME AS STORAGE_NAME,
               I.LETTER_OF_PURCHASE_CODE AS ITEM_PURCHASE_CODE,
               I.ITEM_CODE,
               T.NAME AS ITEM_NAME,
               T.ITEM_UNIQUE_CODE,
               T.PURCHASE_PRICE,
               I.QUANTITY,
               (T.PURCHASE_PRICE * I.QUANTITY) AS PURCHASE_SUM,
               (T.PURCHASE_PRICE * I.QUANTITY * 0.1) AS PURCHASE_VAT
          FROM tbl_letter_of_purchase P
          JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
          JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
          JOIN tbl_letter_of_purchase_item I ON P.LETTER_OF_PURCHASE_CODE = I.LETTER_OF_PURCHASE_CODE
          JOIN tbl_item T ON I.ITEM_CODE = T.ITEM_CODE
        <where>
            P.LETTER_OF_PURCHASE_CODE = #{letterOfPurchaseCode}
        </where>
    </select>

    <!-- 하나의 발주 내역(구매품의서)의 결재라인 조회 -->
    <select id="selectApprovalLineByPurchaseCode"
            parameterType="int"
            resultMap="approvalLineOfPurchaseResultMap">
        SELECT
               P.LETTER_OF_PURCHASE_CODE,
               P.CREATED_AT,
               M.NAME AS MEMBER_NAME,
               A.LETTER_OF_PURCHASE_CODE AS PURCHASE_CODE,
               A.MEMBER_CODE AS APPROVER_CODE,
               A.APPROVED,
               A.APPROVED_AT,
               A.COMMENT,
               B.NAME AS APPROVER_NAME,
               O.NAME AS POSITION_NAME
          FROM tbl_letter_of_purchase P
          JOIN tbl_member M ON P.MEMBER_CODE = M.MEMBER_CODE
          JOIN tbl_letter_of_purchase_approver A ON P.LETTER_OF_PURCHASE_CODE = A.LETTER_OF_PURCHASE_CODE
          JOIN tbl_member B ON A.MEMBER_CODE = B.MEMBER_CODE
          JOIN tbl_position O ON B.POSITION_CODE = O.POSITION_CODE
        <where>
            P.LETTER_OF_PURCHASE_CODE = #{letterOfPurchaseCode}
        </where>
         ORDER BY A.APPROVED_AT ASC
    </select>

    <!-- 전체 입고 품목 목록(입고 처리 완료 + 미입고) 조회 및 검색 -->
    <select id="selectApprovedPurchaseItemTotal"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseItemCriteria"
            resultMap="approvedPurchaseItemResultMap">
        SELECT
               I.LETTER_OF_PURCHASE_CODE,
               I.ITEM_CODE,
               I.QUANTITY,
               I.STORAGE_CONFIRMED,
               P.CREATED_AT,
               T.NAME AS ITEM_NAME,
               T.ITEM_UNIQUE_CODE,
               C.NAME AS CORRESPONDENT_NAME,
               S.NAME AS STORAGE_NAME
          FROM tbl_letter_of_purchase_item I
          JOIN tbl_letter_of_purchase P ON I.LETTER_OF_PURCHASE_CODE = P.LETTER_OF_PURCHASE_CODE
          JOIN tbl_item T ON I.ITEM_CODE = T.ITEM_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
        <where>
            P.APPROVED = 'APPROVED'
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                    AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
            <choose>
                <when test="itemUniqueCode != null">
                    AND T.ITEM_UNIQUE_CODE LIKE CONCAT('%', #{itemUniqueCode}, '%')
                </when>
                <when test="itemName != null">
                    AND T.NAME LIKE CONCAT('%', #{itemName}, '%')
                </when>
                <when test="storageName != null">
                    AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
                </when>
                <when test="correspondentName != null">
                    AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
                </when>
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>
        </where>
         ORDER BY P.CREATED_AT DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 전체 입고 품목 목록 페이지네이션을 위한 전체 입고 품목 총 개수 -->
    <select id="getTotalApprovedPurchaseItemCount"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseItemCriteria"
            resultType="int">
        SELECT
               COUNT(*)
          FROM tbl_letter_of_purchase_item I
          JOIN tbl_letter_of_purchase P ON I.LETTER_OF_PURCHASE_CODE = P.LETTER_OF_PURCHASE_CODE
          JOIN tbl_item T ON I.ITEM_CODE = T.ITEM_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
        <where>
            P.APPROVED = 'APPROVED'
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                    AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
            <choose>
                <when test="itemUniqueCode != null">
                    AND T.ITEM_UNIQUE_CODE LIKE CONCAT('%', #{itemUniqueCode}, '%')
                </when>
                <when test="itemName != null">
                    AND T.NAME LIKE CONCAT('%', #{itemName}, '%')
                </when>
                <when test="storageName != null">
                    AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
                </when>
                <when test="correspondentName != null">
                    AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
                </when>
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>
        </where>
        ORDER BY P.CREATED_AT DESC
    </select>

    <!-- 입고 미확인 품목 목록(미입고) 조회 및 검색 -->
    <select id="selectApprovedPurchaseItemUncheck"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseItemCriteria"
            resultMap="approvedPurchaseItemResultMap">
        SELECT
               I.LETTER_OF_PURCHASE_CODE,
               I.ITEM_CODE,
               I.QUANTITY,
               I.STORAGE_CONFIRMED,
               P.CREATED_AT,
               T.NAME AS ITEM_NAME,
               T.ITEM_UNIQUE_CODE,
               C.NAME AS CORRESPONDENT_NAME,
               S.NAME AS STORAGE_NAME
          FROM tbl_letter_of_purchase_item I
          JOIN tbl_letter_of_purchase P ON I.LETTER_OF_PURCHASE_CODE = P.LETTER_OF_PURCHASE_CODE
          JOIN tbl_item T ON I.ITEM_CODE = T.ITEM_CODE
          JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
          JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
          JOIN tbl_stock K ON T.ITEM_CODE = K.ITEM_CODE
        <where>
            P.APPROVED = 'APPROVED'
            AND <![CDATA[K.IN_STOCK > 0]]>
            AND I.STORAGE_CONFIRMED = 0
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
            <choose>
                <when test="itemUniqueCode != null">
                    AND T.ITEM_UNIQUE_CODE LIKE CONCAT('%', #{itemUniqueCode}, '%')
                </when>
                <when test="itemName != null">
                    AND T.NAME LIKE CONCAT('%', #{itemName}, '%')
                </when>
                <when test="storageName != null">
                    AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
                </when>
                <when test="correspondentName != null">
                    AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
                </when>
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>
        </where>
         ORDER BY P.CREATED_AT DESC
         LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <!-- 입고 미확인 품목 목록 페이지네이션을 위한 입고 미확인 품목 총 개수 -->
    <select id="getApprovedPurchaseItemUncheckCount"
            parameterType="com.varc.brewnetapp.domain.purchase.common.SearchPurchaseItemCriteria"
            resultType="int">
        SELECT
        COUNT(*)
        FROM tbl_letter_of_purchase_item I
        JOIN tbl_letter_of_purchase P ON I.LETTER_OF_PURCHASE_CODE = P.LETTER_OF_PURCHASE_CODE
        JOIN tbl_item T ON I.ITEM_CODE = T.ITEM_CODE
        JOIN tbl_correspondent C ON P.CORRESPONDENT_CODE = C.CORRESPONDENT_CODE
        JOIN tbl_storage S ON P.STORAGE_CODE = S.STORAGE_CODE
        JOIN tbl_stock K ON T.ITEM_CODE = K.ITEM_CODE
        <where>
            P.APPROVED = 'APPROVED'
            AND <![CDATA[K.IN_STOCK > 0]]>
            AND I.STORAGE_CONFIRMED = 0
            <if test="startDate != null and endDate != null">
                AND P.CREATED_AT BETWEEN STR_TO_DATE(#{startDate}, '%Y-%m-%d 00:00:00')
                AND DATE_ADD(STR_TO_DATE(#{endDate}, '%Y-%m-%d 00:00:00'), INTERVAL 1 DAY)
            </if>
            <choose>
                <when test="itemUniqueCode != null">
                    AND T.ITEM_UNIQUE_CODE LIKE CONCAT('%', #{itemUniqueCode}, '%')
                </when>
                <when test="itemName != null">
                    AND T.NAME LIKE CONCAT('%', #{itemName}, '%')
                </when>
                <when test="storageName != null">
                    AND S.NAME LIKE CONCAT('%', #{storageName}, '%')
                </when>
                <when test="correspondentName != null">
                    AND C.NAME LIKE CONCAT('%', #{correspondentName}, '%')
                </when>
                <otherwise>
                    AND 1 = 1
                </otherwise>
            </choose>
        </where>
        ORDER BY P.CREATED_AT DESC
    </select>
</mapper>